* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo-img{
	position:absolute;
	width:5%;
	margin-left:1%;
	margin-top:1%;
	z-index:30;
}
.gif{
	position:absolute;
	z-index: 30;
	width:60%;
	margin:10% 20% 0 20%;
}
.top-img{
	width:100%;
}
.top-img:hover{
	transform: scale(1.2);
	transition-duration: 0.5s;
}

.p-top{
	position:absolute;
	z-index:3;
	margin:20% 20% 30% 20%;
	color:white;
	font-size: 10vw;
	font-family: "futura";
}
.mixed {/* 文字縦書き横向き */
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
}
.menu{
	float: left;
	width: 50px;
	margin-right:10px;
	font-family: "futura";
}
.mini-box{
	border-top:13px solid rgb(0,0,0);
}

.p-sanserif{
	font-family: sans-serif;
	font-size:1.7vw;
	line-height: 1.8;

}
.gray{
	color:rgb(180,180,180);
	font-size:1.2vw
}
.top-name-bottom{
	margin-bottom:2%;
}

.p-serif{
	font-family: serif;
}


.top-box{

	position:absolute;
	z-index:2;
	width:50vw;
	height:18vw;
	padding-top:1vw;
	text-align:center;
	background-color: rgba(25,25,25,0.9);

}
.p-top-top{
	color:rgb(255,255,255);
}
.margins-top{
	margin-right:4%;
	margin-left:4%;
}

.main_imgBox{
	/* height: 100%; */
	overflow: hidden;
	position: relative;
}
.main_img{
    z-index:10;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 6s 0s infinite;
    animation: anime 6s 0s infinite;
}
/* .main_img:nth-of-type(2) {
	-webkit-animation-delay: 6s;
	animation-delay: 6s; } */

/* .main_img:nth-of-type(3) {
	-webkit-animation-delay: 12s;
	animation-delay: 12s; }
/*  */
/* .main_img:nth-of-type(4) {
	-webkit-animation-delay: 18s;
	animation-delay: 18s; }

.main_img:nth-of-type(5) {
	-webkit-animation-delay: 24s;
	animation-delay: 24s; }

.main_img:nth-of-type(6) {
	-webkit-animation-delay: 30s;
	animation-delay: 30s; } */

@keyframes anime {
	0% {
		opacity: 0;
	}
	8% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	25% {
		opacity: 0;
		transform: scale(1.2) ;
		z-index:9;
	}
	100% { opacity: 0 }
}

/* @keyframes fadeIn { anim/ation-nameで設定した値を書く
	0% {opacity: 0} アニメーション開始時は不透明度0%
	100% {opacity: 1} アニメーション終了時は不透明度100%
} */



.box17{
    margin:0 5% 10% 5%;
    position: relative;
    padding: 5em 5em;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 5px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0;
    padding: 0;
}
.face-img{
	width:40%;
	margin-left:30%;
	margin-right:30%;
}





/************************************
** 比較棒グラフ
************************************/
.ub-bar-graph{
	margin:0 auto 2rem !important;
	padding:2em !important;
	background:#fafafa;
	box-shadow: 0 3px 5px rgba(0,0,0,.07);
	color: #333;
}
.ub-bar-graph dl > div{/* １この棒 */
	margin: 0 auto 1.5em !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 30px;
	font-size: 0.9rem;
	position:relative;
	box-shadow: 0 3px 5px rgba(0,0,0,.03);
}
.ub-bar-graph dl > div:last-child{/* ？ */
	margin: 0 !important;
}
.ub-bar-graph dl > div dt{/* 棒の黒い部分 */
	background:#333;
	border-right: 2px solid #fff;
}
.ub-bar-graph dl > div dd{/* 棒のグレーの部分 */
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex:1;
	margin:0 !important;
	font-size:1em;
	background:#dfe6e8;
}
.ub-bar-graph dl > div dt > span,.ub-bar-graph dl > div dd > span{/* 棒の見出し　文字 */
	position:absolute;/* 必要 */
	/* z-index: 1; */
	color:#333;
	font-size: 1em;
	line-height: 1.5;
}
.ub-bar-graph dl > div dt > .ub-bar-graph__content{/* 棒の見出し　文字 */
	left:0px;
	top:-20px;
}
/* .ub-bar-graph dl > div dd >  .ub-bar-graph__value{
	width: 10%;
} */
@media screen and (max-width: 560px) {
	.ub-bar-graph{
	padding:2em 1em !important;
	}
	.ub-bar-graph dl > div{
	margin: 0 auto 2em !important;
	}
}
.skill-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
}
.skill-grid-item{
}






/* .con{スキル */
	/* display: flex;
	align-items:right; */
	/* display: inline-block;
	vertical-align: middle; */
	/* display: grid;
	grid-template-columns:1fr 9fr;
	width:100%;
	margin-bottom:2%;
}

.graf-img{
	display: flex;
	align-items: left;
}
.graf {
	display: flex;
	align-items: right;
	margin:3% 0 3% 0;
}

.data-img{
	width:15%;
}


.graf-bar-bg {
	display: flex;
	align-items:right;
	width: 100%;
	margin-left:3%;
	text-justify:left;
	background: #e0e0e0;
}

.graf-bar {
	background: rgba(0,0,0,0.7);
}

.graf-bar span{
	color: #FFF;
	padding:10px;
} */

.imgs{/* 作品サムネサイズ */
	width:93%;
	margin-bottom:3%;
}

.about-grid{/* aboutのprofileとskill */
	display: grid;
	gap:3%;
	grid-template-columns:1fr 1fr;
}
.about-grid-item{
}
	.grid{/* トップページ作品陳列１：１：１ */
		display: grid;
		margin-left: 5%;
		margin-right: 5%;
		gap:10%;
		grid-template-columns:1fr 1fr 1fr;
	}

	.gird-item{/* 作品陳列 */
		width:100%;
		text-align:center;
		margin:40px;
	}


	.black-box{
			width:20vw;
			height:32vw;
			padding-top:1vw;
			text-align:center;
			background-color: rgb(0,0,0);
			/* box-shadow: 15px 15px 30px 10px rgba(0,0,0,0.4);水平　垂直　ぼかし具合　広がり具合 */
		}

	.card-top-txt{
		color:rgb(230,230,230);
		text-align:right;
		margin-top:2%;
		margin-right:5%;
		margin-bottom:8%;
		font-size: 1.3vw;
		font-family: "futura";
	}
	.card-txt{
		color:rgb(255,255,255);
		text-align:right;
		margin:4% 5% 5% 0;
		font-size: 1.5vw;
		font-family: "ヒラギノ明朝 Pro";
		line-height: 1.5;/* 行間 */
	}

	.card-mini-txt{
		color:rgb(255,255,255);
		text-align:right;
		margin-left:5%;
		margin-right:5%;
		font-size: 1.1vw;
		font-family: "ヒラギノ明朝 Pro";
	}
	/* .triangle{
		border-top: 62px solid transparent;
		border-right: 62px solid #f6da69;
		margin-bottom:0;
	} */

	.btn-img{
		transition:0.2s;
	}
	.btn-img:hover{
		/* filter:brightness(97%); */
		transform:scale(1.08)translate(0px,-10px);
		transition:0.2s;
		box-shadow: 0px 15px 30px 10px rgba(0,0,0,0.5);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
	.under-line{
		text-decoration: none;
	}



	.hyper{
		margin-bottom:100vw;
	}

	.box3{
		padding: 0.5em 1em;
		margin:0 20% 0 20%;
		color: #474747;
		background: white;/*背景色*/
		border-left: double 10px black;/*左線*/
		border-right: double 10px black;/*右線*/
	}
	.box3 p {
		margin: 0;
		padding: 0;
	}



	/*==================================================
トップページスライダーのためのcss
===================================*/
.mylife {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:80%;
    margin:0 10% 20% 10%;
}

.mylife img {
    width:auto;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:30vw;
}

.mylife .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.mylife .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}




.box19 {
    position: relative;
    padding:0.25em 1em;
}
.box19:before,.box19:after{
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.box19:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.box19:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.box19 p {
    margin: 0;
    padding: 0;
}
.last-box{
	width:100%;
	background-color: #2c2a26;
	padding:5% 0;
}
.last-box-img{
	width: 20%;
	margin: 3% 40% 0 40%;
}
.last-word{
	color: white;
}

@media (min-width:766px){
	.mini-top-k{
		display:none;
	}
}




@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.top-box{
		display:none;
	}
	.dish{
		display:none;
	}
	.mini-top-k{

	}

	.menu{
		width:30px;
		margin-right:5px;
	}
	.mixed{
		font-size: 24px;
	}
	.about-grid{
		grid-template-columns:1fr;
	}
	.grid{
		display: grid;
		grid-template-columns:1fr 1fr;
		margin-left: 5%;
		margin-right: 5%;
		gap:8%;
	}
	.gird-item{/* 作品陳列 */
		width:100%;
	}
	.black-box{
		width:150px;
		height:250px;
		padding-top:10px;
		background-color: rgb(0,0,0);
		box-shadow: 5px 5px 10px 5px rgba(0,0,0,0);/* 水平　垂直　ぼかし具合　広がり具合 */
	}
	.card-txt{
		font-size: 2.0vw;

	}
	/* .triangle{
		border-top: 39px solid transparent;
		border-right: 39px solid #f6da69;
		text-align:bottom;
	} */
	.box17{
		padding: 2em 2em;
		border-top: solid 2px black;
		border-bottom: solid 2px black;
	}
	.box17:before, .box17:after{
		width: 2px;
	}
	.box3{
		border-left: double 7px black;/*左線*/
		border-right: double 7px black;/*右線*/

	}

	.hyper{
		margin-bottom:180vw;
	}
	.data-name {
		font-size:12px;
	}

}







.about-tag-top{/* about左のタグの上の調整 */
	margin-top: 10%;
}
.about-dialy-top{/* aboutのdialyのtopにだけ使ってる */
	margin-top: 5%;
}
.section-bottom{
	margin-bottom:200px;
}

.section-top{
	margin-top:200px;
}

.pages-top-bottom{
	padding-top:1%;
	padding-bottom:8%;
}
.pages-section-bottom{
	padding-top:18%;
	padding-bottom:18%;
	margin-right:1%;
	margin-left:1%;
	border-top:2px solid rgb(0,0,0);
}
.pages-h1-top{
	margin-top:15%;
}
.pages-h1-bottom{
	margin-bottom:10%;
}
.pages-center{
	text-align:center;
}
.pages-right{
	text-align:right;
	/* margin-left:70%; */
}
.about-txt-bottom{
	margin-bottom:20px;
}
.txt-h2{
	font-family: "ヒラギノ明朝 Pro";
}
.txt{
	font-family: "ヒラギノ明朝 Pro";
	font-size:1.5vw;
	line-height: 1.8;
}
.txt-ex{/* 説明部分 */
	font-family: "ヒラギノ明朝 Pro";
	font-size:1.5vw;
	line-height: 1.8;
}
.txt-top{
	font-family: "ヒラギノ明朝 Pro";

	font-size:2.5vw;
	line-height: 1.8;
}

.border-radius{
	width: 10vw;
	height: 10vw;
	/* line-height: 150px; */
	background-color: #d9e367;
	border-radius: 50%;
	color: #fff;
	font-size:1.5vw;
	color:rgb(0,0,0);
	line-height: 1.2;
	display: flex;
	text-align: center;
	flex-direction: column;
	/* 子要素をflexboxにより縦方向に揃える */
	justify-content: center;

}
.radius-higashiyama{
	background-color:#74b32f;
}
.radius-carousel{
	background-color:#d3eef8;
}
.triangle01{
    width: 0;
    height: 0;
    border-top: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-left: solid 15px #697b91;
	margin-left:40%;
}
.radius-grid{
	width:80%;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap:2%;
	margin-bottom:10%;
}
.radius-grid-item{
	/* width:100%; */
}

.radius-center{
	display: flex;
	/* flex-direction: column; 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    /* align-items: center;  子要素をflexboxにより中央に配置する */

}
.main {
	align-items: center;
}

.right{
	margin-right:10%;
}
.left{
	margin-left:10%;
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
animation-delay: 0.2s;
}

.delay-time04{
animation-delay: 0.4s;
}






/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/

.box{
	opacity: 0;
}

/*==================================================
動き自体の指定：今回は「ふわっ」
===================================*/

.fadeUp {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}
@keyframes fadeUpAnime{
from {
    opacity: 0;
	transform: translateY(100px);
}

to {
    opacity: 1;
	transform: translateY(0);
}
}






/* .top-menu{
	float: left;
	width: 20%;
	text-align:center;
} */
.black-top{
	/* width:100%; */
	height:auto;
	background-color: rgb(0,0,0);
}
.img-80{
	width:80%;
	margin-bottom:60px;
	margin-left: 10%;
	margin-right: 10%;
}
.img-60{
	width:60%;
	margin-bottom:60px;
	margin-left: 20%;
	margin-right: 20%;
}
.top-name-center{
	text-align: center;
}
.margins{
	margin-right:10%;
	margin-left:10%;
}
.img{
	width:100%;
}
.topic{/* 左側のプロセスとかの上に余白 */
	margin-top:15%;
}

.s-line{
	margin-bottom:20px;
	margin-left: 10%;
	margin-right: 10%;
}
.p-line{
	margin-bottom:60px;
	margin-left: 10%;
	margin-right: 10%;
}

/* ボード */
.board-JPG{
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
}
.board-work{
	margin-bottom:50%;
}



/* バッグ */
.bag-jpg{
	float: left;
	width: 60%;
	margin-right:10px;
}
.bag-work{
	margin-bottom:40%;
}


/* 東山 */
.higashiyama-jpg{
	float: right;
	width: 30%;
}
.higashiyama-marker{
	background : linear-gradient(transparent 20%, rgb(150,180,150) 45%);
}
.higashiyama-box{
	border:2px dashed #ffa64d;
}
.higashiyama-work{
	margin-bottom:20%;
}
.higashiyama-work-grid{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	gap:3%;
	margin-bottom:10%;
}
.higashiyama-work-grid-item{
}

/* はさみ */
.hasami-jpg{
	float: right;
	margin-right:30%;
	width: 10%;
}

/* ネコ */
.neko-jpg{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}


/* モーキャプ */
.motion-work{
	margin-bottom:5%;
}


/* パンフレット */
.pamph-work-top{
	margin-top:20%;
}
.geikoten-box{
    padding: 0.5em 1em;
    margin: 0 0 2em 0;
	padding-right:5%;
	padding-top:3%;
    /* background: #f0f7ff; */
    border: dashed 2px rgb(0,0,0);/*点線*/
}
.geikoten-box p {
    margin: 0;
    padding: 0;
}
.geikoten-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:3%;
	margin-bottom:10%;
}
.geikoten-grid-item{
	width:100%;
}


#flipbook {
	width: 100%; /* flipbook自体の横幅なので各ページは200px */
	height: 28vw;
	/* margin: 10% 20%;  */
	/* 一番左端だとたまに見切れるので適当に移動 */
}


.sample ul{
	display: flex;
	overflow-x: scroll;
	margin: 0;
	padding: 0;
}
.sample li{
	min-width: 40%;
	margin: 10px;
	padding: 0;
	list-style: none;
}


.persona-box{
		padding: 1.5em 0.5em;
		margin: 2em 10%;
		padding-right:5%;
		color: #232323;
		background: #d3eef8;
		/* border-left: solid 25% rgb(100,100,100); */
	}
	.persona-box img{
		width:60%;
		margin:0 20%;
	}
	.persona-grid{
		display: grid;
		grid-template-columns:1fr 1fr;
		gap:3%;
		margin-bottom:5%;
	}
	.persona-grid-item{
	}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
	width:50%;
	margin:0 auto;
}

.slider img {
	width:100%;/*スライダー内の画像を横幅100%に*/
	height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
	margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
	position: absolute;/*絶対配置にする*/
	top: 42%;
	cursor: pointer;/*マウスカーソルを指マークに*/
	outline: none;/*クリックをしたら出てくる枠線を消す*/
	border-top: 2px solid rgb(0, 0, 0);/*矢印の色*/
	border-right: 2px solid rgb(0, 0, 0);/*矢印の色*/
	height: 15px;
	width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
	left: -5.5%;
	transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
	right: -5.5%;
	transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
	display:inline-block;
	margin:0 5px;
}

.slick-dots button {
	color: transparent;
	outline: none;
	width:10px;/*ドットボタンのサイズ*/
	height:10px;/*ドットボタンのサイズ*/
	display:block;
	border-radius:50%;
	background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
	background:#333;/*ドットボタンの現在地表示の色*/
}





.pages-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:3%;
	margin-bottom:10%;
}
.pages-grid-item{
	width:100%;
}
.pages-grid-none{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:1%;
}
@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.txt-top{
		font-size:18px;
	}
	.txt-ex{
		font-size:15px;
	}
	.txt{
		font-size:13px;
	}
	.p-line{
		margin-bottom:30px;
	}
	.geikoten-box{
		padding: 0.5em 1em;
		margin: 2em 0;
		padding-right:3%;
		padding-top:0;
		/* background: #f0f7ff; */
	}
	.geikoten-box p{
		text-align:center;
	}
	.geikoten-grid{
		grid-template-columns:1fr;
		margin-bottom:8%;
	}
	.persona-box{
		padding: 1.5em 0.5em;
		padding-right:1%;
	}
	.persona-grid{
		display: grid;
		grid-template-columns:1fr;
	}

}